@import "mapbox-gl/dist/mapbox-gl.css";
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&family=DynaPuff:wght@500&display=swap');

body {
  font-family: 'DM Sans', sans-serif;
  @apply bg-stone-100 dark:bg-dark-900 dark:text-white duration-300;
}

// Page transition animation
.page-enter-active, .page-leave-active,
.layout-enter-active, .layout-leave-active {
  animation: enterPage .5s backwards cubic-bezier(.17,.64,.74,1.48);
}

.page-leave-active, .page-leave-active,
.layout-leave-active, .layout-leave-active {
  animation: enterPage reverse .5s cubic-bezier(.17,.64,.74,1.48);
}

@keyframes enterPage {
  from {
    opacity: 0;
    transform: scale(.5, .5);
  }
  50% {
    transform: scale(1.075, 1.075);
  }
  to {
    opacity: 1;
    transform: scale(1, 1);
  }
}
